<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>@ViewData["Title"]</title>

    <!-- General CSS Files -->
    <link rel="stylesheet" href="~/adminassets/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/adminassets/modules/fontawesome/css/all.min.css">
   
    <!-- CSS Libraries -->
    <link rel="stylesheet" href="~/adminassets/modules/jqvmap/dist/jqvmap.min.css">
    <link rel="stylesheet" href="~/adminassets/modules/summernote/summernote-bs4.css">
    <link rel="stylesheet" href="~/adminassets/modules/owlcarousel2/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/adminassets/modules/owlcarousel2/dist/assets/owl.theme.default.min.css">

    <!-- Template CSS -->
    <link rel="stylesheet" href="~/adminassets/css/style.css">
    <link rel="stylesheet" href="~/adminassets/css/components.css">
    <style>
        body {
            font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
        }
    </style>
    @await RenderSectionAsync("Styles", required: false)
    <!-- Start GA -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-94034622-3');
    </script>
    <!-- /END GA -->
</head>

<body>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>
            @{
                await Html.RenderPartialAsync("_MainHeader");
            }
            @{
                await Html.RenderPartialAsync("_MainSidebar");
            }

            <!-- Main Content -->
            <div class="main-content">
               @RenderBody()
            </div>

            @{
                await Html.RenderPartialAsync("_MainFooter");
            }
        </div>
    </div>

    <!-- General JS Scripts -->
    <script src="~/adminassets/modules/jquery.min.js"></script>
    <script src="~/adminassets/modules/popper.js"></script>
    <script src="~/adminassets/modules/tooltip.js"></script>
    <script src="~/adminassets/modules/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/adminassets/modules/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="~/adminassets/modules/moment.min.js"></script>
    <script src="~/adminassets/js/stisla.js"></script>

    <!-- JS Libraies -->
    <script src="~/adminassets/modules/jquery.sparkline.min.js"></script>
    <script src="~/adminassets/modules/chart.min.js"></script>
    <script src="~/adminassets/modules/owlcarousel2/dist/owl.carousel.min.js"></script>
    <script src="~/adminassets/modules/summernote/summernote-bs4.js"></script>
    <script src="~/adminassets/modules/chocolat/dist/js/jquery.chocolat.min.js"></script>

    <!-- Page Specific JS File -->
    <script src="~/adminassets/js/page/index.js"></script>

    <!-- Template JS File -->
    <script src="~/adminassets/js/scripts.js"></script>
    <script src="~/adminassets/js/custom.js"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>