@using Microsoft.AspNetCore.Http
@{
    
}

<nav class="navbar navbar-expand-lg main-navbar">
    <form class="form-inline mr-auto">
        <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
        </ul>
    </form>
    <ul class="navbar-nav navbar-right">

        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                <img alt="image" src="~/adminassets/img/avatar/avatar-1.png" class="rounded-circle mr-1">
              @*  @{ var taikhoanID = Context.Session.GetString("AccountId");
                if (taikhoanID != null)
                {
                <div class="d-sm-none d-lg-inline-block">@User?.Identity?.Name</div>
                }} *@
                <div class="d-sm-none d-lg-inline-block">@User?.Identity?.Name</div>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="~/Admin/Account/Profile" class="dropdown-item has-icon">
                    <i class="far fa-user"></i> Profile
                </a>
                <a href="~/Admin/Account/ChangePassword" class="dropdown-item has-icon">
                    <i class="fas fa-cog"></i> Đổi mật khẩu
                </a>
                <div class="dropdown-divider"></div>
                <a href="~/Admin/Account/Logout" class="dropdown-item has-icon text-danger">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </a>
            </div>
        </li>
    </ul>
</nav>








