@model WebApplication1.Models.User
@{
    ViewBag.Title = "My Post";
}
<section class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>@ViewBag.Title</h2>
            <ol>
                <li><a href="index.html">Home</a></li>
                <li><a href="~/Forum">Forum</a></li>
                <li>@ViewBag.Title</li>
            </ol>
        </div>

    </div>
</section>
<section class="services">
    <div class="container-fluid bg-primary">
        <div class="row">
            <div class="col">
                <ul class="nav justify-content-start">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/Forum">All Post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/Forum/MyPost/1">My Posts</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <section id="blog" class="blog bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <a href="/Forum/Create" class="btn btn-warning mb-3">
                        <i class="fa-regular fa-pen-to-square"></i>
                        Tạo mới bài post
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="list-group">
                        <div class="card mb-4">
                            @foreach (var post in Model.Posts)
                            {
                                <div class="card-body list-group-item">
                                    <div class="row align-items-center">
                                        <div class="col-sm-4">
                                            <img class="img-fluid rounded-circle" src="~/@post.User.ProfileImage" alt="Profile Image" style="width: 100px; height: 100px;">
                                        </div>
                                        <div class="col-sm-8">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">
                                                    <a href="/Forum/Detail/@post.Id" class="text-decoration-none">@post.Title</a>
                                                </li>
                                                <li class="list-group-item">
                                                    <span class="me-2">View: 5</span>
                                                    <span>Reply: @post.PostReplies.Count()</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="blog-pagination">
                        <ul class="justify-content-center">
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="sidebar bg-white">
                        <h3 class="sidebar-title">Search</h3>
                        <div class="sidebar-item search-form">
                            <form action="">
                                <input type="text">
                                <button type="submit"><i class="bi bi-search"></i></button>
                            </form>
                        </div>

                        <h3 class="sidebar-title">Recent Posts</h3>
                        <div class="sidebar-item recent-posts">
                            <div class="post-item clearfix">
                                <img src="~/themes/assets/img/blog/blog-1.jpg" alt="">
                                <h4><a href="blog-single.html">Nihil blanditiis at in nihil autem</a></h4>
                                <time datetime="2020-01-01">Jan 1, 2020</time>
                            </div>
                            <div class="post-item clearfix">
                                <img src="~/themes/assets/img/blog/blog-1.jpg" alt="">
                                <h4><a href="blog-single.html">Nihil blanditiis at in nihil autem</a></h4>
                                <time datetime="2020-01-01">Jan 1, 2020</time>
                            </div>
                        </div>

                        <h3 class="sidebar-title">Forum statistics</h3>
                        <div class="sidebar-item row">
                            <div class="col-6">
                                <p>Threads:</p>
                                <p>Messages:</p>
                                <p>Members:</p>
                                <p>Latest member:</p>
                            </div>
                            <div class="col-6">
                                <p>777,525</p>
                                <p>25,235,634</p>
                                <p>1,099,547</p>
                                <p>hieu15402</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
