@{
}
<div class="sidebar">
   @*  <h3 class="sidebar-title">Categories</h3> *@
    <div class="sidebar-item categories">
        <ul>
            <li><a href="~/Account/Detail" class="menu-item">@_localization.Getkey("AccountInformation")</a></li>
            <li><a href="~/Account/ChangePassword" class="menu-item">@_localization.Getkey("ChangePassword")</a></li>
            <li><a href="~/Account/Logout" class="menu-item">@_localization.Getkey("Logout")</a></li>

        </ul>
    </div><!-- End sidebar categories-->

</div><!-- End sidebar -->
