@{
 
}
  <div id="app">
    <section class="section">
      <div class="container mt-5">
        <div class="page-error">
          <div class="page-inner">
            <h1>403</h1>
            <div class="page-description">
                  Bạn không có quyền truy cập vào chức năng này.
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>